<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="/static/CSS/settings.css">
</head>
<body>

<div id="navbar"></div>

<main class="container">
  <h1>Settings</h1>

  <div class="card">
    <p>Account: admin</p>
    <p>Language: EN</p>
    <p>Theme: Light</p>
  </div>
</main>

<script>
  // Analogiczne sprawdzenie tokenu
    const token = localStorage.getItem("token");
    if (!token) {
      window.location.href = "/login.html";
    } else {
      fetch("/api/verify", {
        headers: {"Authorization": "Bearer " + token}
      })
      .then(r => {
        if (!r.ok) throw new Error();
      })
      .catch(() => {
        localStorage.removeItem("token");
        window.location.href = "/login.html";
      });
    }
    document.getElementById("logoutBtn").addEventListener("click", () => {
      localStorage.removeItem("token");
      window.location.href = "/login.html";
    });
</script>

<script src="/static/JavaScript/navbar.js"></script>
<script src="/static/JavaScript/settings.js"></script>
</body>
</html>
